@model string

<div class="dictionary-home">
    <h2>Редактор осетинско-русского словаря</h2>
    <div class="dictionary-home__menu">
        @* @if (ViewData["userRole"] == "Admin") *@
        @if (Model == "Admin")
        {
            <div class="btn btn-warning start-redact-button">
                <a asp-controller="Edit" asp-action="Index">Начать редактировать</a>
            </div>
        }
        <div class="btn btn-warning watch-mod-button">
            <a asp-controller="ResearchMod" asp-action="Index">Режим просмотра</a>
        </div>
    </div>

    <div class="btn btn-secondary back-to-home-button">
        <a asp-controller="Home" asp-action="Index">Назад в главное меню</a>
    </div>

   
</div>